/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Quicksand !important;
}

code {
  font-family: Quicksand !important;
}

/* Wcomponents */
.wcomp::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #696f78;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4b8bf;
}

.main-card--container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  justify-content: space-evenly;
}
.card-container {
  margin: 25px 0 auto;

  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
}

.img-thumbnail {
  width: 80px;
}
.img-large {
  max-width: 80%;
}

.formInput {
  padding: 5px;
}
